:root{
    --mainColor: #362FD9;
	--secondaryColor:#3C84AB; 

    --borderColor:#164D56;

	--mainText: lightgray;
	--secondaryText: #eeeeee;

	--themeDotBorder:#fff;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#16212c;


	--buttonColor:#8BF5FA; 
}

a{
    text-decoration: none;
    color:#9cc114;
}