:root{
    --mainColor: rgb(36, 36, 99);
	--secondaryColor:#153350; 

    --borderColor:#164D56;

	--mainText: lightgray;
	--secondaryText: #eeeeee;

	--themeDotBorder:#fff;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#16212c;


	--buttonColor:lightblue; 
}