:root{
    --mainColor: darkgoldenrod;
	--secondaryColor:rgb(116, 88, 17); 

    --borderColor:#164D56;

	--mainText: lightgray;
	--secondaryText: #eeeeee;

	--themeDotBorder:#fff;

	--previewBg:rgba(33, 66, 43, 0.8);
	--previewShadow: rgba(23, 46, 30, 0.8);


	--buttonColor:rgb(40, 103, 124); 
}