:root{
    --mainColor: darkcyan;
	--secondaryColor: hsl(172, 46%, 42%); 

    --borderColor:#164D56;

	--mainText: lightgray;
	--secondaryText: #eeeeee;

	--themeDotBorder:#fff;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#111921;


	--buttonColor:lightblue; 
}

a{
    text-decoration: none;
    color:#00e686;
}